
			<!--NOTIFICATION BOX CONTENT START-->
			<div class="search-form">
				<span class="close-search-form" data-search="close"><i class="fa fa-times"></i> </span>
				<form>
					<div class="search-input">
						<input type="text" name="q" class="form-element" placeholder="Search...">
						<button type="submit" class="search-input-btn"><i class="fa fa-arrow-right"></i></button>
					</div>
				</form>
			    <ul class="notification-list list-unstyled">
					<li>
						<div class="d-flex align-items-center justify-content-between">
                          <div class="d-flex align-items-center">
                            <div class="">
                              <h5 class="coin-name">You have 3 notifications</h5>
                            </div>
                          </div>
                          <div>
                            <a href=""><small class="text-muted d-block">mark all as read</small></a>
                          </div>
                        </div>
					</li>
					<li>
						<div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
	                            <div class="notice-icon available">
	                                <i class="fa fa-check"></i>
	                            </div>
	                            <div class="ml-10">
	                              <h4 class="coin-name">Successful transaction 0.01 BTC</h4>
	                              <small class="text-muted">15 min ago</small>
	                            </div>
                            </div>
                        </div>
					</li>
					<li>
						<div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
	                            <div class="notice-icon away">
	                                <i class="fa fa-clock-o"></i>
	                            </div>
	                            <div class="ml-10">
	                              <h4 class="coin-name">4 of Pending Transactions!</h4>
	                              <small class="text-muted"> 12 hours ago</small>
	                            </div>
                            </div>
                        </div>
					</li>
					<li>
						<div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
	                            <div class="notice-icon busy">
	                                <i class="fa fa-times"></i>
	                            </div>
	                            <div class="ml-10">
	                              <h4 class="coin-name">Cancelled Order of 200 ICO</h4>
	                              <small class="text-muted">15 Feb - 08:34</small>
	                            </div>
                            </div>
                        </div>
					</li>
					<li>
						<div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
	                            <div class="notice-icon available">
	                                <i class="fa fa-check"></i>
	                            </div>
	                            <div class="ml-10">
	                              <h4 class="coin-name">Great Speed Notify of 1.34 LTC</h4>
	                              <small class="text-muted">24 jan - 20:43</small>
	                            </div>
                            </div>
                        </div>
					</li>
					<li>
						<div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
	                            <a href="" class="text-muted">Read all notifications</a>
                            </div>
                        </div>
					</li>
					
				</ul>
			</div>
			<!--NOTIFICATION BOX CONTENT END-->

			<!-- Page content start -->
			<main class="margin mt-0">

				<div class="dash-balance">
					<div class="dash-content relative">
						<h3 class="w-text">Dashboard</h3>
						<div class="notification">
							<a href=""><i class="fa fa-plus"></i></a>
						</div>
					</div>
				</div>

				<section class="bal-section container" id="cardList">
				</section>

				<footer>
					<div class="container">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						</ul>
						<p>Copyright © All Right Reserved</p>
					</div>
				</footer>
			</main>
			<!-- Page content end -->
		</div>
	</div>

	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
		  	<div class="circle1"></div>
		  	<div class="circle2"></div>
		  	<div class="circle3"></div>
		</div>
	</div>

	<!-- JQuery library file. requared all pages -->
	<script src="js/jquery-3.2.1.min.js"></script>

	<!-- Swiper JS -->
    <script src="js/swiper.min.js"></script>

	 <!-- Initialize Swiper -->
 	
  	<!-- Flot Charts -->
	<script src="plugins/c3-chart/c3.min.js"></script>
	<script src="plugins/c3-chart/d3.min.js"></script>
	<script src="plugins/c3-chart/c3.custom.js"></script>
  	<!-- Flot Charts -->
	<script src="plugins/flot/jquery.flot.min.js"></script>
	<script src="plugins/flot/jquery.flot.time.min.js"></script>
	<script src="plugins/flot/jquery.flot.pie.min.js"></script>
	<script src="plugins/flot/jquery.flot.tooltip.min.js"></script>
	<script src="plugins/flot/jquery.flot.resize.min.js"></script>
    <!-- Sparkline-->
    <script src="plugins/jquery-sparkline/jquery.sparkline.js"></script>

	<!-- Template global script file. requared all pages -->
	<script src="js/app-charts.js"></script>
	<script src="js/global.script.js"></script>

    <script>
        var jwtToken = sessionStorage.getItem('jwtToken')
        fetchUserData();
        function fetchUserData(){
            $.ajax({
                url:'/list',
                type : 'POST',
                headers : {
                    'ourtoken' : jwtToken
                },
                success:function(data){
                    console.log(data.res_list);
                    for(var i=0; i < data.res_list.length; i++){
                        $("#cardList").append(
                            '<div class="balance-card mb-15">'+ i +
						        '<div class="d-flex align-items-center">'+
	                        '<div class="d-flex flex-grow">'+
                                    '<div class="mr-auto">' +
                                            '<h1 class="b-val">'+data.res_list[i].account_alias+'</h1>'+
                                        '<p class="g-text mb-10">'+data.res_list[i].fintech_use_num+'</p>'+
                                            '</div>'+
                                    '<div class="ml-auto align-self-end">'+
											'<a href="/balance?fin_use_num='+data.res_list[i].fintech_use_num+'">잔액조회</a>'+"||||"+
											'<a href="/qrcode?fin_use_num='+data.res_list[i].fintech_use_num+'">QR생성</a>'+
                                            '</div>'+
                                            '</div>'+
                                            '</div>'+
                                    '</div>'
                        )
                    }    
                }
            })
        }
    </script>


</body>

</html>